<nav class="navbar navbar-inverse subnav navbar-fixed-top">
  <div class="container-fluid">
    <div class="">
      <ul class="nav navbar-nav navbar-left">
        <li>{{link-to "Good" 'good' class='nav-item nav-link good'}}</li>
        <li>{{link-to "Evil" 'evil' class='nav-item nav-link evil'}}</li>
        <li>{{link-to "Chaos" 'chaos' class='nav-item nav-link chaos'}}</li>
      </ul>
    </div>
  </div>
</nav>