<div class="container-fluid foot text-center">
	<div class="row nomarg">
		<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
			<h3>Contact Us</h3>
			<ul>
				<li><a href="mailto:'hello@darknessfell.com'" target="_blank">hello@darknessfell.com</a></li>
				<li><a href="https://gitlab.com/diretornak/DF" target="_blank">GitLab</a></li>
				<li><a href="https://www.facebook.com/DarknessFell-415164868941106/" target="_blank">Facebook</a></li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
			
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-4">
			<h3>Darkness Fell</h3>
			<ul class="cheers">
				<li><a href="https://www.emberjs.com/" target="_blank">
					<i class="fab fa-ember fa-3x"></i>
					{{bs-tooltip title="Ember.js" placement="bottom"}}
				</a></li>
				<li><a href="https://nodejs.org/en/" target="_blank">
					<i class="fab fa-node fa-3x"></i>
					{{bs-tooltip title="Node.js" placement="bottom"}}
				</a></li>
				<li><a href="https://gitlab.com/" target="_blank">
					<i class="fab fa-gitlab fa-2x"></i>
					{{bs-tooltip title="GitLab" placement="bottom"}}
				</a></li>
				<li><a href="https://en.wikipedia.org/wiki/HTML5" target="_blank">
					<i class="fab fa-html5 fa-2x"></i>
					{{bs-tooltip title="HTML5" placement="bottom"}}
				</a></li>
				<li><a href="https://www.w3.org/TR/2001/WD-css3-roadmap-20010523/" target="_blank">
					<i class="fab fa-css3-alt fa-2x" ></i>
					{{bs-tooltip title="CSS3" placement="bottom"}}
				</a></li>
			</ul>
		</div>
	</div>
</div>