<nav class="navbar navbar-inverse subnav navbar-fixed-top">
  <div class="container-fluid">
    <div class="">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#realmsoverview" class="overviewlink">Overview</a></li>
        <li><a href="#good" class="good">Good</a></li>
        <li><a href="#evil" class="evil">Evil</a></li>
        <li><a href="#chaos" class="chaos">Chaos</a></li>
      </ul>
      <!-- <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form> -->
    </div>
  </div>
</nav>

<script>
  $('a[href*="#"]')
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
        && 
        location.hostname == this.hostname
      ) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 500, function() {
          });
        }
      }
    });
</script>