<div class="container-fluid subscribe-section text-center">
	
	<h2 class="nomarg">Subscribe now!</h2>
	<p>Be the first to get <span>NEWS</span>, <span>UPDATES</span> and <span>MORE</span> on Darkness Fell</p>

	<br>

	<form id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" action="https://khoma.us12.list-manage.com/subscribe/post?u=8c932a49572c2549c2332c587&amp;id=fd2c467905" method="post" class="form-inline validate" target="_blank" novalidate>

	  <div id="mc_embed_signup_scroll" class="form-group form-group-lg">
	    <label class="sr-only" for="exampleInputAmount">Your email:</label>
	    <div class="input-group">
	      <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="Your email" required>
	      <div class="btn btn-default input-group-addon addbt"><input type="submit" name="subscribe" id="mc-embedded-subscribe" placeholder="Subcribe"></div>
	    </div>
	  </div>
	</form>

</div>