@import "ember-bootstrap/bootstrap";

/*
* === MAIN STYLES (VARIABLES) ===
*/

@font-face {font-family: 'scorched';src: url("../fonts/ScorchedEarth.otf");}
$mainfont: 'scorched', sans-serif;
@font-face {font-family: 'birth';src: url("../fonts/BIRTH_OF_A_HERO.ttf");}
$subfont: 'birth', sans-serif;

$cor: #fc5a00;
$cor2: #bc3f01;
$cinza: #757575;
$cinza2: #555;
$evil: #e80059;
$chaos: #25e825;
$good: #00d9ef;
$evil2: #af0047;
$chaos2: #0ea50e;
$good2: #0098a0;
%nomarg {margin:0;}
%nomargtop {margin-top:0;}
%nomargbot {margin-bottom:0;}

/*
* === GLOBAL ===
*/

body {
  margin-top:51px;
  color: $cinza;
  font-size:16px;
  font-family: 'Oxygen', sans-serif;
}

hr {border-top: 1px solid #cecece;}
.evil {color: $evil !important;}
.chaos {color: $chaos !important;}
.good {color: $good !important;}
.evil2 {color: $evil2 !important;}
.chaos2 {color: $chaos2 !important;}
.good2 {color: $good2 !important;}
.nomarg {margin:0;}
.nomargtop {margin-top:0;}
.nomargbot {margin-bottom:0;}
.nopad {padding:0;}
.btn svg {margin-left:5px;}
.btn, .btn:hover {transition: color 1s ease, background-color 1s ease, border-color 1s ease;}
.addbt {font-family: $mainfont;border-bottom-right-radius: 6px;border-top-right-radius: 6px;} 
.centerimg {margin:0 auto;}

.btn-primary {
    color: #000;
    font-family: $mainfont;
    background-color: #fc5a00;
    border-color: #fc5a00;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: $cinza;
    border-color: $cinza;
    color:#000;
}

.btn-default {
    color: #FFF;
    font-family: $mainfont;
    background-color: #000;
    border-color: #000;
}

.btn-default:hover, .btn-default:focus {
    background-color: $cinza;
    border-color: $cinza;
    color:#000;
}

input[type="submit"] {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  background-color:transparent !important;
  border-width:0 !important;
}

/*
* === TYPOGRAPHY ===
*/

h1, h2, h3, h4, .navbar-brand {font-family: $mainfont;color: $cor;}
h1 {font-size: 60px;}
h2 {font-size: 46px;}
h3 {font-size: 36px;}
h4 {font-size: 28px;}

/*
* === NAVIGATION (NESTING) ===
*/

.navbar-inverse {background-color:$cor;box-shadow: 0 -12px 40px $cor;}
.navbar-brand {font-size: 32px;padding-top:16px;color:#000 !important;transition:color 1s ease;}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a {color:#000;margin-bottom:0;}
.navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
  color: $cor !important;
  -webkit-animation: neon 0.6s ease-in-out infinite alternate;
  -moz-animation: neon 0.6s ease-in-out infinite alternate;
  animation: neon 0.6s ease-in-out infinite alternate;
  transition:color 1s ease;
}

@-webkit-keyframes neon {
  from {text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #fc5a00, 0 0 70px #fc5a00, 0 0 80px #fc5a00, 0 0 100px #fc5a00, 0 0 120px #fc5a00;}
  to {text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #fc5a00, 0 0 35px #fc5a00, 0 0 40px #fc5a00, 0 0 50px #fc5a00, 0 0 60px #fc5a00;}
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block;margin-bottom:0; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-size:21px;
    font-family: $mainfont;
    margin-bottom:0;
  }
}

/*
* === JUMBOTRON ===
*/

.jumbotron {
	background: linear-gradient(rgba(#000000, .5), rgba(#000000, .5)), url("../imgs/feature_bg.jpg");
	background-size: cover;
	min-height: 100vh;
	margin-bottom:0;

	h1 {color: $cor !important;text-shadow: 0 -2px 10px #000000;font-size:60px;}
	h2 {font-family: $subfont;color: $cor2 !important;text-shadow: 0 -2px 10px #000000;}
	p {font-size:18px;color:#FFFFFF;}
	.splashcontent {margin-top:20vh;}
	.splashimg {margin-top:10vh;}
}

/*
* === FOOTER ===
*/

.foot {
	background-color:#000000;
	padding:25px 0;

	a {color: $cinza;}
	a:hover {color: $cor;}
	ul {padding-left:0;}
	ul.cheers li {display: inline-block;margin:0 10px;}
	li {list-style: none;}
	.heightfix {margin-top:-15px;}
}

/*
* === SUBSCRIBE SECTION ===
*/

.subscribe-section {
	color:#FFF;
	background-color: $cor;
	padding:50px 0;

	h2 {color: #000;}
	p span {color:#000;font-weight: bold;}
}

/*
* === BOX SECTION ===
*/

.feature-section {
  padding:25px 0;

	h2 {color:#000;@extend %nomarg;}
	h3 {font-family: $subfont;@extend %nomargtop}
  .boxfeature {padding:25px 10px;}
}

/*
* === REALMS ===
*/

.subnav {
  background-color: $cinza2;
  border-radius:0;
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.6);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.6);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.6);
  z-index: 1;

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;;

  li > a {font-size:16px;}
  .nav > li {display:inline-block;}
}

.subnav.navbar-fixed-top {top: 50px !important;}

.realms {
  color:#FFF;
  padding:70px 0 50px 0;
  background: linear-gradient(rgba(#000000, .5), rgba(#000000, .5)), url("../imgs/feature_bg.jpg");
  background-size: cover;
  min-height: 100vh;

  h2 {color:#000;@extend %nomarg;text-shadow: 0 -2px 10px #000000;}
  h3 {font-family: $subfont;@extend %nomargtop;}
}

.evildetails, .chaosdetails, .gooddetails {
  .realmtxt {padding-top:25vh;color:#FFF;}
  img {margin-top:30vh;}
  h2 {text-shadow: 0 -2px 10px #000000;}
  ul {padding-left:0;}
  ul li {display: inline-block;margin-right:10px;}
}

.evildetails {
  background: linear-gradient(rgba(#000000, .6), rgba(#000000, .7)), url("../imgs/evilbg.jpg");
  background-size: cover;
  min-height:100vh;
}

.gooddetails {
  background: linear-gradient(rgba(#000000, .6), rgba(#000000, .7)), url("../imgs/goodbg.jpg");
  background-size: cover;
  min-height:100vh;
}

.chaosdetails {
  background: linear-gradient(rgba(#000000, .6), rgba(#000000, .7)), url("../imgs/chaosbg.jpg");
  background-size: cover;
  min-height:100vh;
}

/*
* === CLASSES ===
*/

.classlist {background-color:#000;}
.classlist ul {margin-top:50px;padding-left:0;margin-bottom:0;}
.classlist ul li {display:inline-block;}

.classdetail {
  color:#FFF;

  h3 {font-family: $subfont;}
  img {padding:0;max-height:60vh;margin:0 auto;}
}

.nav-tabs.nav-justified {
  li > a {
    font-family: $subfont;
    color:#000;
    border: none !important;
    border-radius:0;
    padding: 10px 0;
    font-weight: bold;
  }
  li > a:hover {
    border: none;
    border-radius:0;
    color:#000;
    transition: color 1s ease, background-color 1s ease;
  }
  li.active > a {
    color:#FFF;
  }
}

.tab-content {background-color:#000;padding:50px 0;} 

.goodclasses {
  background-color: $good;
  font-size:21px;
  font-family: $subfont;
  margin-top:50px;
}

.evilclasses {
  background-color: $evil;
  font-size:21px;
  font-family: $subfont;
  margin-top:50px;
}

.chaosclasses {
  background-color: $chaos;
  font-size:21px;
  font-family: $subfont;
  margin-top:50px;
}

.brawler {border: 2px solid #5e0075;}
.resilient {border: 2px solid #967d00;}
.caster {border: 2px solid #444;}
.healer {border: 2px solid #3520a0;}
.stealth {border: 2px solid #898989;}
.crafter {border: 2px solid #397fc4;}
.melee {border: 2px solid #962f2f;}
.ranged {border: 2px solid #33a873;}

.demon {background-image:url("../imgs/evil_sigil.png");background-size: 100% 100%;}
.imp {background-image:url("../imgs/evil_sigil.png");background-size: 100% 100%;}
.necromancer {background-image:url("../imgs/evil_sigil.png");background-size: 100% 100%;}
.skeleton {background-image:url("../imgs/evil_sigil.png");background-size: 100% 100%;}
.vampire {background-image:url("../imgs/evil_sigil.png");background-size: 100% 100%;}
.werewolf {background-image:url("../imgs/evil_sigil.png");background-size: 100% 100%;}
.zombie {background-image:url("../imgs/evil_sigil.png");background-size: 100% 100%;}

.gnoll {background-image:url("../imgs/chaos_sigil.png");background-size: 100% 100%;}
.goblin {background-image:url("../imgs/chaos_sigil.png");background-size: 100% 100%;}
.kobold {background-image:url("../imgs/chaos_sigil.png");background-size: 100% 100%;}
.lizardman {background-image:url("../imgs/chaos_sigil.png");background-size: 100% 100%;}
.ogre {background-image:url("../imgs/chaos_sigil.png");background-size: 100% 100%;}
.orc {background-image:url("../imgs/chaos_sigil.png");background-size: 100% 100%;}
.troll {background-image:url("../imgs/chaos_sigil.png");background-size: 100% 100%;}

/*
* === RESPONSIVE MEDIA QUERIES ===
*/

@media only screen and (max-width: 1300px) {
  .splashcontent {margin-top:3vh !important;}
  .splashimg {margin-top:5vh !important;}
}

@media only screen and (max-width: 767px) {
  .nav-justified, .nav-tabs.nav-justified {
    margin-top:55px;
  }
  .nav-justified > li, .nav-tabs.nav-justified > li {
    float: none;
    display: inline-block;

    a {padding:5px 10px;}
  }
  .classdetail img {
    float:none;
    margin:0 auto;
    max-height: 50vh;
  }
}














/*
* === GLOBAL STYLES (MIXINS) ===
*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.somethingsquare { @include border-radius(10px); }

/*
* === GLOBAL STYLES (EXTEND/INHERITANCE) ===
*/

%equal-heights {
  display: flex;
  flex-wrap: wrap;
}

%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}

.error {
  @extend %message-shared;
  border-color: red;
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}

/*
* === LAYOUT (OPERATORS) ===
*/

.containersample { width: 100%; }


article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}