<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Darkness Fell - MUD game set in a fantasy medieval world</title>
    <meta name="application-name" content="Darkness Fell">
    <meta name="theme-color" content="#fc5a00">
    <meta name="description" content="MUD (multi user dungeon) game with realm vs realm, player vs player and much more!">

    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google" content="notranslate">

    <meta name="google-site-verification" content="verification_token">
    <meta name="yandex-verification" content="verification_token">
    <meta name="msvalidate.01" content="verification_token">
    <meta name="alexaVerifyID" content="verification_token">
    <meta name="p:domain_verify" content="code_from_pinterest">
    <meta name="norton-safeweb-site-verification" content="norton_code">

    <meta name="subject" content="fantasy role playing game RPG">

    {{content-for "head"}}
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/emb-strap.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    {{content-for "head-footer"}}

    <meta property="fb:app_id" content="337840380058012">
    <meta property="og:url" content="http://darknessfell.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Darkness Fell">
    <meta property="og:image" content="http://example.com/image.jpg">
    <meta property="og:description" content="A fantasy medieval MUD RPG with rvr, pvp and much more!">
    <meta property="og:site_name" content="DarknessFell">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="Nak">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@site_account">
    <meta name="twitter:creator" content="@individual_account">
    <meta name="twitter:url" content="http://example.com/page.html">
    <meta name="twitter:title" content="Content Title">
    <meta name="twitter:description" content="Content description less than 200 characters">
    <meta name="twitter:image" content="http://example.com/image.jpg">

    <link href="https://plus.google.com/+YourPage" rel="publisher">
    <meta itemprop="name" content="Content Title">
    <meta itemprop="description" content="Content description less than 200 characters">
    <meta itemprop="image" content="http://example.com/image.jpg">

    <link rel="apple-touch-icon" sizes="57x57" href="../imgs/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../imgs/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../imgs/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../imgs/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../imgs/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../imgs/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../imgs/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../imgs/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../imgs/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../imgs/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../imgs/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileImage" content="../imgs/ms-icon-144x144.png">
  </head>

  <body>
    
    {{content-for "body"}}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/emb-strap.js"></script>

    {{content-for "global-foot"}}

  </body>

</html>
