{{classes-menu}}

<div class="container-fluid nopad">
  <!-- Nav tabs -->
  <ul id="classtabs" class="nav nav-tabs nav-justified chaosclasses" role="tablist">
    <li role="presentation"><a href="#Gnoll" aria-controls="Gnoll" role="tab" data-toggle="tab">Gnoll</a></li>
    <li role="presentation"><a href="#Goblin" aria-controls="Goblin" role="tab" data-toggle="tab">Goblin</a></li>
    <li role="presentation"><a href="#Kobold" aria-controls="Kobold" role="tab" data-toggle="tab">Kobold</a></li>
    <li role="presentation"><a href="#Lizardman" aria-controls="Lizardman" role="tab" data-toggle="tab">Lizardman</a></li>
    <li role="presentation"><a href="#Ogre" aria-controls="Ogre" role="tab" data-toggle="tab">Ogre</a></li>
    <li role="presentation"><a href="#Orc" aria-controls="Orc" role="tab" data-toggle="tab">Orc</a></li>
    <li role="presentation"><a href="#Troll" aria-controls="Troll" role="tab" data-toggle="tab">Troll</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content classdetail">

    <div role="tabpanel" class="tab-pane active" id="Gnoll">
    	<div class="row nomarg">
			<div class="col-xs-12 col-sm-4 col-md-offset-1 col-lg-3 col-lg-offset-2">
				<img src="../imgs/gnoll.png" class="img-responsive">
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">

				<h2 class="chaos">Gnoll</h2>
				
				<span class="label brawler">Brawler</span>
				<span class="label caster">Caster</span>
				<span class="label healer">Healer</span>
				<span class="label resilient">Resilient</span>
				<span class="label melee">Melee</span>
				<span class="label ranged">Ranged</span>
				<span class="label stealth">Stealth</span>
				<span class="label crafter">Crafter</span>

				<h3>Description</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mi, fringilla non imperdiet id, euismod sed nunc. Nam nec dolor ac urna feugiat mollis. Nam nisl tellus, posuere eget viverra in, scelerisque eget sem. Phasellus non urna vel ligula laoreet commodo eu sit amet enim. Vivamus eleifend placerat erat in posuere. Ut tincidunt nisi vel dui facilisis, ac hendrerit ante auctor. Nam tristique in lectus eget vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In scelerisque turpis felis. Nam vulputate nibh sapien. Proin eget leo quis neque convallis placerat. Nulla in ornare augue. Proin pellentesque nisi ante, eget mollis sapien tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in elementum neque, ut fermentum nisl.</p>

			</div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="Goblin">
    	<div class="row nomarg">
			<div class="col-xs-12 col-sm-4 col-md-offset-1 col-lg-3 col-lg-offset-2">
				<img src="../imgs/goblin.png" class="img-responsive">
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">

				<h2 class="chaos">Goblin</h2>
				
				<span class="label brawler">Brawler</span>
				<span class="label caster">Caster</span>
				<span class="label healer">Healer</span>
				<span class="label resilient">Resilient</span>
				<span class="label melee">Melee</span>
				<span class="label ranged">Ranged</span>
				<span class="label stealth">Stealth</span>
				<span class="label crafter">Crafter</span>

				<h3>Description</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mi, fringilla non imperdiet id, euismod sed nunc. Nam nec dolor ac urna feugiat mollis. Nam nisl tellus, posuere eget viverra in, scelerisque eget sem. Phasellus non urna vel ligula laoreet commodo eu sit amet enim. Vivamus eleifend placerat erat in posuere. Ut tincidunt nisi vel dui facilisis, ac hendrerit ante auctor. Nam tristique in lectus eget vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In scelerisque turpis felis. Nam vulputate nibh sapien. Proin eget leo quis neque convallis placerat. Nulla in ornare augue. Proin pellentesque nisi ante, eget mollis sapien tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in elementum neque, ut fermentum nisl.</p>

			</div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="Kobold">
    	<div class="row nomarg">
			<div class="col-xs-12 col-sm-4 col-md-offset-1 col-lg-3 col-lg-offset-2">
				<img src="../imgs/kobold.png" class="img-responsive">
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">

				<h2 class="chaos">Kobold</h2>
				
				<span class="label brawler">Brawler</span>
				<span class="label caster">Caster</span>
				<span class="label healer">Healer</span>
				<span class="label resilient">Resilient</span>
				<span class="label melee">Melee</span>
				<span class="label ranged">Ranged</span>
				<span class="label stealth">Stealth</span>
				<span class="label crafter">Crafter</span>

				<h3>Description</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mi, fringilla non imperdiet id, euismod sed nunc. Nam nec dolor ac urna feugiat mollis. Nam nisl tellus, posuere eget viverra in, scelerisque eget sem. Phasellus non urna vel ligula laoreet commodo eu sit amet enim. Vivamus eleifend placerat erat in posuere. Ut tincidunt nisi vel dui facilisis, ac hendrerit ante auctor. Nam tristique in lectus eget vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In scelerisque turpis felis. Nam vulputate nibh sapien. Proin eget leo quis neque convallis placerat. Nulla in ornare augue. Proin pellentesque nisi ante, eget mollis sapien tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in elementum neque, ut fermentum nisl.</p>

			</div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="Lizardman">
    	<div class="row nomarg">
			<div class="col-xs-12 col-sm-4 col-md-offset-1 col-lg-3 col-lg-offset-2">
				<img src="../imgs/lizardman.png" class="img-responsive">
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">

				<h2 class="chaos">Lizardman</h2>
				
				<span class="label brawler">Brawler</span>
				<span class="label caster">Caster</span>
				<span class="label healer">Healer</span>
				<span class="label resilient">Resilient</span>
				<span class="label melee">Melee</span>
				<span class="label ranged">Ranged</span>
				<span class="label stealth">Stealth</span>
				<span class="label crafter">Crafter</span>

				<h3>Description</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mi, fringilla non imperdiet id, euismod sed nunc. Nam nec dolor ac urna feugiat mollis. Nam nisl tellus, posuere eget viverra in, scelerisque eget sem. Phasellus non urna vel ligula laoreet commodo eu sit amet enim. Vivamus eleifend placerat erat in posuere. Ut tincidunt nisi vel dui facilisis, ac hendrerit ante auctor. Nam tristique in lectus eget vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In scelerisque turpis felis. Nam vulputate nibh sapien. Proin eget leo quis neque convallis placerat. Nulla in ornare augue. Proin pellentesque nisi ante, eget mollis sapien tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in elementum neque, ut fermentum nisl.</p>

			</div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="Ogre">
    	<div class="row nomarg">
			<div class="col-xs-12 col-sm-4 col-md-offset-1 col-lg-3 col-lg-offset-2">
				<img src="../imgs/ogre.png" class="img-responsive">
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">

				<h2 class="chaos">Ogre</h2>
				
				<span class="label brawler">Brawler</span>
				<span class="label caster">Caster</span>
				<span class="label healer">Healer</span>
				<span class="label resilient">Resilient</span>
				<span class="label melee">Melee</span>
				<span class="label ranged">Ranged</span>
				<span class="label stealth">Stealth</span>
				<span class="label crafter">Crafter</span>

				<h3>Description</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mi, fringilla non imperdiet id, euismod sed nunc. Nam nec dolor ac urna feugiat mollis. Nam nisl tellus, posuere eget viverra in, scelerisque eget sem. Phasellus non urna vel ligula laoreet commodo eu sit amet enim. Vivamus eleifend placerat erat in posuere. Ut tincidunt nisi vel dui facilisis, ac hendrerit ante auctor. Nam tristique in lectus eget vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In scelerisque turpis felis. Nam vulputate nibh sapien. Proin eget leo quis neque convallis placerat. Nulla in ornare augue. Proin pellentesque nisi ante, eget mollis sapien tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in elementum neque, ut fermentum nisl.</p>

			</div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="Orc">
    	<div class="row nomarg">
			<div class="col-xs-12 col-sm-4 col-md-offset-1 col-lg-3 col-lg-offset-2">
				<img src="../imgs/orc.png" class="img-responsive">
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">

				<h2 class="chaos">Orc</h2>
				
				<span class="label brawler">Brawler</span>
				<span class="label caster">Caster</span>
				<span class="label healer">Healer</span>
				<span class="label resilient">Resilient</span>
				<span class="label melee">Melee</span>
				<span class="label ranged">Ranged</span>
				<span class="label stealth">Stealth</span>
				<span class="label crafter">Crafter</span>

				<h3>Description</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mi, fringilla non imperdiet id, euismod sed nunc. Nam nec dolor ac urna feugiat mollis. Nam nisl tellus, posuere eget viverra in, scelerisque eget sem. Phasellus non urna vel ligula laoreet commodo eu sit amet enim. Vivamus eleifend placerat erat in posuere. Ut tincidunt nisi vel dui facilisis, ac hendrerit ante auctor. Nam tristique in lectus eget vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In scelerisque turpis felis. Nam vulputate nibh sapien. Proin eget leo quis neque convallis placerat. Nulla in ornare augue. Proin pellentesque nisi ante, eget mollis sapien tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in elementum neque, ut fermentum nisl.</p>

			</div>
		</div>
    </div>

    <div role="tabpanel" class="tab-pane" id="Troll">
    	<div class="row nomarg">
			<div class="col-xs-12 col-sm-4 col-md-offset-1 col-lg-3 col-lg-offset-2">
				<img src="../imgs/troll.png" class="img-responsive">
			</div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">

				<h2 class="chaos">Troll</h2>
				
				<span class="label brawler">Brawler</span>
				<span class="label caster">Caster</span>
				<span class="label healer">Healer</span>
				<span class="label resilient">Resilient</span>
				<span class="label melee">Melee</span>
				<span class="label ranged">Ranged</span>
				<span class="label stealth">Stealth</span>
				<span class="label crafter">Crafter</span>

				<h3>Description</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sem mi, fringilla non imperdiet id, euismod sed nunc. Nam nec dolor ac urna feugiat mollis. Nam nisl tellus, posuere eget viverra in, scelerisque eget sem. Phasellus non urna vel ligula laoreet commodo eu sit amet enim. Vivamus eleifend placerat erat in posuere. Ut tincidunt nisi vel dui facilisis, ac hendrerit ante auctor. Nam tristique in lectus eget vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In scelerisque turpis felis. Nam vulputate nibh sapien. Proin eget leo quis neque convallis placerat. Nulla in ornare augue. Proin pellentesque nisi ante, eget mollis sapien tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi in elementum neque, ut fermentum nisl.</p>

			</div>
		</div>
    </div>

  </div>
</div>

{{subscribe-section}}

<script>
	$('#classtabs a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
</script>