{{classes-menu}}

<div class="row realms nomarg">
	<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
		<div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="../imgs/good_sigil.png" class="img-responsive centerimg">
        <h2 class="good text-center">Nord</h2>
        <h3 class="text-center">Good Realm</h3>
        <hr>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>
			<div class="col-xs-12 col-sm-4">
				<img src="../imgs/evil_sigil.png" class="img-responsive centerimg">
				<h2 class="evil text-center">Aranak</h2>
				<h3 class="text-center">Evil Realm</h3>
				<hr>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<img src="../imgs/chaos_sigil.png" class="img-responsive centerimg">
				<h2 class="chaos text-center">Rakgur</h2>
				<h3 class="text-center">Chaos Realm</h3>
				<hr>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			</div>
		</div>
	</div>
</div>

{{subscribe-section}}