<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {{side-bar}}
    </div>
    <div class="col-sm-9 col-md-10 main">
      {{dashboard-main articles=model}}
    </div>
  </div>
</div>