<div class="jumbotron">
  <div class="container-fluid">

    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 splashcontent">
      <h1 class="nomarg">Welcome</h1>
      <h2 class="nomarg">to the world of Darkness Fell</h2>

      <hr>

      <p>Choose a realm, create a character and engage in immersive gameplay, with an awesome storyline and brutal player vs player.</p>
      <p>Steal other realms idols and bring your realm back to its days of glory.</p>

      <br>

      <p><a class="btn btn-primary btn-lg" href="#subscribenow" role="button">Learn more <i class="fas fa-arrow-alt-circle-right"></i></a></p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 splashimg">
      <img src="../imgs/df_splash.png" class="img-responsive">
    </div>

  </div>
</div>

<div id="subscribenow" style="margin-top:-50px;padding-top:50px;"></div>
{{subscribe-section}}

<div class="container feature-section">

  <div class="row nomarg">
    <div class="col-md-4 boxfeature">
      <h2 class="nomargtop">PvP</h2>
      <h3>Player vs Player</h3>
      <hr>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <br>
      <p><a class="btn btn-default" href="#" role="button">Learn more <i class="fas fa-arrow-alt-circle-right"></i></a></p>
    </div>
    <div class="col-md-4 boxfeature">
      <h2 class="nomargtop">RvR</h2>
      <h3>Realm vs Realm</h3>
      <hr>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <br>
      <p><a class="btn btn-default" href="#" role="button">Learn more <i class="fas fa-arrow-alt-circle-right"></i></a></p>
   </div>
    <div class="col-md-4 boxfeature">
      <h2 class="nomargtop">PvE</h2>
      <h3>Player vs Environment</h3>
      <hr>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <br>
      <p><a class="btn btn-default" href="#" role="button">Learn more <i class="fas fa-arrow-alt-circle-right"></i></a></p>
    </div>
  </div>

</div> <!-- /container -->

<script>
  $('a[href*="#"]')
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
        && 
        location.hostname == this.hostname
      ) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top
          }, 500, function() {
          });
        }
      }
    });
</script>