{{realms-menu}}

<div class="row realms nomarg">
	<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
		<div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="../imgs/good_sigil.png" class="img-responsive centerimg">
        <h2 class="good text-center">Nord</h2>
        <h3 class="text-center">Good Realm</h3>
        <hr>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>
			<div class="col-xs-12 col-sm-4">
				<img src="../imgs/evil_sigil.png" class="img-responsive centerimg">
				<h2 class="evil text-center">Aranak</h2>
				<h3 class="text-center">Evil Realm</h3>
				<hr>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<img src="../imgs/chaos_sigil.png" class="img-responsive centerimg">
				<h2 class="chaos text-center">Rakgur</h2>
				<h3 class="text-center">Chaos Realm</h3>
				<hr>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			</div>
		</div>
	</div>
</div>

<div id="realmsoverview" style="margin-top:-100px;padding-top:100px;"></div>
{{subscribe-section}}

<div class="container feature-section">
  <!-- Example row of columns -->
  <div class="row nomarg">
    <div class="col-md-4 boxfeature">
      <h2 class="nomargtop">PvP</h2>
      <h3>Player vs Player</h3>
      <hr>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <br>
      <p><a class="btn btn-default" href="#" role="button">Learn more <i class="fas fa-arrow-alt-circle-right"></i></a></p>
    </div>
    <div class="col-md-4 boxfeature">
      <h2 class="nomargtop">RvR</h2>
      <h3>Realm vs Realm</h3>
      <hr>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <br>
      <p><a class="btn btn-default" href="#" role="button">Learn more <i class="fas fa-arrow-alt-circle-right"></i></a></p>
   </div>
    <div class="col-md-4 boxfeature">
      <h2 class="nomargtop">PvE</h2>
      <h3>Player vs Environment</h3>
      <hr>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <br>
      <p><a class="btn btn-default" href="#" role="button">Learn more <i class="fas fa-arrow-alt-circle-right"></i></a></p>
    </div>
  </div>

</div>

<div class="container-fluid">

  <div class="row evildetails" id="evil">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img src="../imgs/evil_sigil.png" class="img-responsive hidden-xs">
        </div>
        <div class="col-xs-12 col-sm-7 realmtxt">
          <h2 class="nomargbot evil">Aranak</h2>
          <h3 class="nomargtop">Lost City of Aranak</h3>
          <p>Evil lurks the long abandoned city of Aranak. Once a majestic capital, located just west of the Anor Forest, now its buildings fall apart, though its inhabitants pay little mind to its state. Unhollow creatures linked to ancient curses live among the ruins and hunt any who dare enter their domain. Just to spread death.</p>
          
          <br>
          <p>Available classes:</p>
          <ul class="evil">
            <li>Demon</li>
            <li>Imp</li>
            <li>Necromancer</li>
            <li>Skeleton</li>
            <li>Vampire</li>
            <li>Werewolf</li>
            <li>Zombie</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row gooddetails" id="good">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-xs-12 col-sm-7 realmtxt">
          <h2 class="nomargbot good">Nord</h2>
          <h3 class="nomargtop">Glory of Carendel</h3>
          <p>The last walled city in the world. Refuge to what is left of humanity, and located northwest from the Sea of Thieves, the city still holds all of its beauty and splendorous architecture. Men still manage to tend the land and breed live stock despite the grim reality. The fight for survival and honor.</p>
          
          <br>
          <p>Available classes:</p>
          <ul class="good">
            <li>Craftsman</li>
            <li>Monk</li>
            <li>Paladin</li>
            <li>Priest</li>
            <li>Ranger</li>
            <li>Rogue</li>
            <li>Wizard</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-5">
          <img src="../imgs/good_sigil.png" class="img-responsive hidden-xs">
        </div>
      </div>
    </div>
  </div>

  <div class="row chaosdetails" id="chaos">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img src="../imgs/chaos_sigil.png" class="img-responsive hidden-xs">
        </div>
        <div class="col-xs-12 col-sm-7 realmtxt">
          <h2 class="nomargbot chaos">Rakgur</h2>
          <h3 class="nomargtop">The Monster Nest</h3>
          <p>Evil lurks the long abandoned city of Aranak. Once a majestic capital, located just west of the Anor Forest, now its buildings fall apart, though its inhabitants pay little mind to its state. Unhollow creatures linked to ancient curses live among the ruins and hunt any who dare enter their domain. Just to spread death.</p>
          
          <br>
          <p>Available classes:</p>
          <ul class="chaos">
            <li>Gnoll</li>
            <li>Goblin</li>
            <li>Kobold</li>
            <li>Lizardman</li>
            <li>Ogre</li>
            <li>Orc</li>
            <li>Troll</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>